.name-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social a {
  font-size: 50px;
  color: #3E3E3E;
  margin: 0px 20px;
  &:hover {
    color: #2C2C2C;
  }
}

.light-headers {
  color: $light-gray;
}

.edit-banner {
  opacity: 0;
  width: 100%;
  height: 50vh;
  position: relative;
  &:hover {
    opacity: 0.8;
    color: $light-gray;
  }
  p {
    cursor: pointer;
  }
}

.update-pic {
  position: absolute;
  right: 10px;
  top: 10px;
}
