<div>
  <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "btn btn-sm btn-danger" %> &nbsp
  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-link" %>
</div>
