<div id="event-sidebar" class="right-block">
  <div id="event-search-artist">
    <h5>Add a new artist for this event</h5>
    <%= render 'find_artist_form' %>
  </div>
  <div id="proposals-list">
    <h5>Your sent proposals</h5>
    <%= render 'sent_proposals' %>
  </div>
</div>
