<% @event.proposals.accepted.each do |proposal| %>
  <div class="col-sm-6">
    <%= render 'proposals/proposal_card', proposal: proposal %>
  </div>
<% end %>
<% @event.proposals.pending.each do |proposal| %>
  <div class="col-sm-6">
    <%= render 'proposals/proposal_card', proposal: proposal %>
  </div>
<% end %>
<% @event.proposals.confirmed.each do |proposal| %>
  <div class="col-sm-6">
    <%= render 'proposals/proposal_card', proposal: proposal %>
  </div>
<% end %>
<% @event.proposals.declined.each do |proposal| %>
  <div class="col-sm-6">
  < %= render 'proposals/proposal_card', proposal: proposal %>
  </div>
<% end %>
