<div class="text-center" id="search">
  <div class="row">
    <%= simple_form_for :search, method: :get do |f| %>
      <div class="col-md-4">
        <%= f.input :address, placeholder: "City", label_html: { class: "hidden" } %>
      </div>
      <div class="col-md-4">
        <%= f.input :search_type, collection: %w(Artists Events Places), default: 1, label_html: { class: "hidden" } %>
      </div>
      <div class="col-md-4">
        <%= f.button :submit, "Search", class: "btn btn-primary", id: "btn-home" %>
      </div>
    <% end %>
  </div>
</div>
