<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Last artists</h3>
      <hr>
    </div>
    <hr>
    <% @last_performances.each do |performance| %>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <%= link_to performance_path(performance) do %>
          <div class="card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= performance_show_card(performance) %>');">
            <h3 class="card-title"><%= performance.name %></h3>
            <p class="card-description"><%= performance.genre.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
