<div class="container">
  <div class="row">
    <h5 class="text-center">Last concert places</h5>
    <% @last_places.each do |place| %>
      <div class="col-md-4">
        <%= link_to place_path(place) do %>
          <div class="home-card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place_show_card(place) %>');">
            <h3 class="home-card-title"><%= place.name %></h3>
            <p class="home-card-description"><%= place.address %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
