<div id="site-stats">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        2,500 events organized
      </div>
      <div class="col-sm-4 text-center">
        1,800 performances
      </div>
      <div class="col-sm-4 text-center">
        12,500 requests sent
      </div>
    </div>
  </div>
</div>
