<div class="alert alert-warning" id="search-alert">
  Please fill address, event type and date fields
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('http://res.cloudinary.com/onmuze/image/upload/c_scale,w_1920/v1495547650/background_yrtacl.jpg');">

  <%= render 'shared/navbar_home' %>

  <div class="banner-content text-center">
    <div class="logo">
      <%= image_tag "onmuze_logo.png" %>
    </div>
    <h1>Create your event</h1>
    <p>We will promote it</p>
    <%= render 'form' %>
  </div>
</div>

<% content_for :title, "Welcome to onmuze" %>

