.banner-show {
  height: 50vh;
  background-size: cover;
  background-position: center center;
}

.banner-gradient {
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center center;
}

.banner-gradient-devise {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
