.card-list {
  display: inline-block;
}

.card {
  color: white;
  position: relative;
  padding: 20px;
  width: 100%;
  height: 200px;
  color: white;
  border-radius: 2px;
  border: 1px solid $light-gray;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  text-shadow: -2px 2px 8px black;
  background-size: cover;
  margin-bottom: 30px;
  opacity: 1;
  transition-timing-function: ease-in;
  transition: 0.3s;
    &:hover {
    opacity: 0.8;
  }
}

.card-title {
  position: absolute;
  width: 80%;
  bottom: 20px;
  left: 25px;
  font-size: 30px;
  font-family: $header-font;
  padding-right: 15px;
    h3 {
      color: white;
      font-size: 30px;
  }
}

.card-description {
  position: absolute;
  top: 20px;
  right: 30px;
  font-family: $sub-header-font;
  text-align: right;
  line-height: 12px;
    h5 {
      color: white;
    }
}
