.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  width: 94%;
  margin-left: 3%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  &:hover {
    opacity: 0.7;
    .card-name h3 {
      font-size: 30px;
    }
    .card-description p {
      font-size: 18px;
    }
  }
}

.card-name {
  position: absolute;
  text-transform: uppercase;
  width: 100%
}

.card-description {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 16px;
  line-height: 12px
}
