#event-sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#event-search-artist {
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

#proposals-list {
  padding: 10px;
  border-radius: 0 0 8px 8px;
  width: 100%;
}

.promote-text {
  color: $dark-gray;
  font-weight: lighter;
}
