.placeholder-padding {
  padding: 10px 16px !important;
}

.attachinary_container ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}

.btn-form-devise {
  margin-top:10px;
  margin-bottom: 20px;
}

#search {
  margin-right: 0 !important;
  select {
    color: #999;
  }
}

.custom-form-btn {
  background: none;
  border: 0;
  font-weight: bold;
  font-size: 20px;
}

#edit-btn {
  cursor: pointer;
}

#edit-form {
  display: none;
}

#btn-create-event {
  width: 100%;
}
