.placeholder-padding {
  padding: 10px 16px !important;
}

.attachinary_container ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}

.btn-form-devise {
  margin-top:10px;
  margin-bottom: 20px;
}

#search {
  margin-right: 0 !important;
  select {
    color: #999;
  }
}

.custom-form-btn {
  background: none;
  border: 0;
  font-weight: bold;
  font-size: 20px;
}

#edit-btn {
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

#edit-form {
  display: none;
  border: 1px solid $light-gray;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 20px;
}
