.placeholder-padding {
  padding: 10px 16px !important;
}

.attachinary_container ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}

.btn-form-devise {
  margin-top:10px;
  margin-bottom: 20px;
}

#search {
  margin-right: 0 !important;
}

#btn-create-event {
  width: 100%;
}
