.right-block {
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  color: white;
  background-color: #444444;
  padding: 20px;
}

.video-block {
  width: 400px;
  height: 300px;
}

#events-list {
  margin: auto;
  margin-bottom: 30px;
}


