.right-block {
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  color: white;
  background-color: $dark-gray;
  padding: 20px;
}

#events-list {
  margin: auto;
  margin-bottom: 30px;
}

.top-right-block {
  padding: 10px;
  margin-bottom: 20px;
}

.bottom-right-block {
  padding: 10px;
}

.actioncall-block {
  padding: 10px 50px;
  margin: 10px 0;
  background-color: $black;
  color: white;
}
