.right-block {
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  color: white;
  background-color: #444444;
  padding: 20px;
  a {
    color: white;
  }
  a:hover {
    color: white;
    font-weight: bold;
  }
}

.video-block {
  width: 400px;
  height: 300px;
  background-color: $red;
}

#events-list {
  margin-left: 50%;
  margin-bottom: 30px;
}


