.bars {
    height: 20px;
    width: 15px;
    position: absolute;
    bottom: 20px;
    right: 60px;
    display: none;
}

.bar {
   background: white;
    bottom: 10px;
    left: 30px;
    height: 3px;
    position: absolute;
    width: 5px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: 0.4;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 20px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 380ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 9px; animation-duration: 450ms; }
