.wrapper {
  padding: 60px 0px 60px 0px;
}
.wrapper-form {
  padding: 60px 0px 45px 0px;
}
.promote-wrapper {
  background-color: $dark-gray;
  color: white;

  span {
    font-weight: lighter;
  }
}

.page-wrapper{
  min-height: 100%;
}

.page-wrapper-navbar-margin {
  margin-top: 70px;
}
