// .wrapper-content {
//   margin-top: 70px;
// }

.wrapper {
  padding: 60px 0px;
}

.wrapper-grey {
  padding: 60px 0px;
  background-color: #2C2C2C;
}

.page-wrapper{
  min-height: 100%;
}

.page-wrapper-navbar-margin {
  margin-top: 70px;
}
