<p>You can book this performance of artist in one of your events. Create an event or choose among your events</p>
<button type="button" id="new-event-button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#newEventModal">
          Create an event
        </button>
