<p>You can book this performance of artist in one of your events. You need a place for your event first. Create it :-)</p>
<%= link_to "Create a place for my event", new_place_path, class: "btn btn-danger btn-lg" %>
