<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="sm-padded">
        <%= @embedded_video %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="sm-padded">
        <%= @soundcloud_embed %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= @embedded_instagram %>
    </div>
  </div>
</div>
