<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <% unless @embedded_video == 'error'  %>
      <div class="sm-padded">
        <%= @embedded_video %>
      </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-6">
      <% unless @soundcloud_embed =='error' %>
      <div class="sm-padded">
        <%= @soundcloud_embed %>
      </div>
      <% end %>
    </div>
  </div>
</div>
