<div class="container">
  <h1>performances#index</h1>
  <% @performances.each do |performance| %>
      <div>
        <h3><%= performance.name %></h3>
        <h5><%= performance.address %></h5>
        <p><%= performance.description %></p>
      </div>
  <% end %>
</div>
