<div class="container">
  <div class="">
    <div class="row">
      <div class="col-md-4 location_banner">
        <h3>Location</h3>
        <p><%= @place.name %></p>
        <p><%= @place.address %></p>
      </div>
    </div>
  </div>
</div>
