<div class="banner-show" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?size=1440x400&scale=2&zoom=13&maptype=roadmap&markers=color:blue%7Clabel:S%7C<%= latitude %>,<%= longitude %>&key=<%= ENV['GOOGLE_API_KEY'] %>');">
</div>

