<div class="container">

  <div class="text-center">
    <h1>Your places</h1>
  </div>

  <div>
    <h2><%= @place.name %></h2>
    <p><strong>Address : </strong><%= @place.address %></p>
    <p><strong>Description : </strong><%= @place.description %></p>
  </div>

</div>
