<div class="wrapper-content">
  <%= place_show_banner(@place) %>

  <div class="wrapper">
    <%= render 'header' %>
  </div>

  <div class="wrapper">
    <%= render 'shared/create_new_event' %>
  </div>

  <div class="wrapper-grey">
    <%= render 'shared/event_card_show' %>
  </div>

</div>


<% content_for :title, @place.name %>
